<form #feedbackForm="ngForm" (ngSubmit)="feedback()" class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-wide">Feedback form</h1>
  </div>

  <div class="form-label-group mb-4">
    <label for="inputQuest">Your problem, please!</label>
    <input id="inputQuest" class="form-control mr-sm-2" type="text" name="quest" 
         [(ngModel)]="model.quest" placeholder="Quest">
  </div>

  <div *ngIf="authService.answer!=null" class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-wide">{{authService.answer}}</h1>
  </div>

  <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">feedback</button>
  <button class="btn btn-lg btn-primary btn-block" type="button" (click)="cancel()">Cancel</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
</form>