 <!-- Example row of columns -->
 <div>
 <div class="row body-elem mb-4">
  <div class="col-md-4 my-elem">
    <h1>NTh</h1>
    <p>{{answer1}}</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-md-4">
    <h1>Heading</h1>
    <p>{{answer2}}</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-md-4">
    <h1>Heading</h1>
    <p>{{answer3}}</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
  </div>
 <hr>
</div>
 <h1 class="featurette-heading text-center ">
      Не нашли решения проблемы?
      <span class="text-muted">Мы все равно поможем вам.</span>
    </h1>
      <p class="lead text-center featurette-body featurette-divider" col md-5>
        Cover is a one-page template for building simple and beautiful home
        pages. Download, edit the text, and add your own fullscreen background
        photo to make it your own.
      </p>
</div>